@import 'vars';
@import 'extends';

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.top {
    position: relative;
    overflow: hidden;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

summary {
    display: block;
}
  
    summary::-webkit-details-marker {
    display: none;
}

.container {
    max-width: $widthSite;
    margin: 0 auto;
}

//  header

.header {
    background-color: $headerColor;
    position: relative;
    
    &__content {

        display: flex;
        min-height: 75px;
        align-items: center;
        justify-content: space-between;
        
    }
}

.logo {
    display: flex;
    align-items: flex-end;
}

.logo a:first-child {
    margin-right: 41px;
}

.menu__nav {
    display: flex;
    justify-content: space-between;
    width: 168px;
    align-items: center;
}

#burger {
    position: absolute;
    left: -99999999px;
    visibility: hidden;

    &:checked ~ .menu__nav-1 {
        
        right: -$widthBurgerMenu;
    }
}

.menu__nav-1 {
    //display: none;
    width: $widthBurgerMenu;
    height: 634px;
    background: #FFF;
    box-sizing: border-box;
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 2;
    transition: right .3s;

    &__title {
        margin-left: 32px;
        margin-top: 32px;
        width: 232px;
        color: #000;
        font-size: 14px;
        font-family: Lato;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    & ul li {
        list-style: none;
    }
}

.first {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__title {
        color: #F16D7F;
        font-size: 14px;
        font-family: Lato;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 32px;
        margin-top: 20px;
    }
}

.second {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & a {
        display: block;
        color: #6F6E6E;
    }

    & li {
        display: block;
        font-size: 14px;
        font-family: Lato;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 53.5px;
        margin-top: 11px;
    }
}

.menu__nav-1 li a:hover{
	background: #2F718E;
    color: #fff;
}

//  breadcrumb

.breadcrumbs {
    background-color: #F8F3F4;
    height: 148px;
    display: flex;
    align-items: center;

    &__content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        &__title {
            color: #F16D7F;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        
    }

    &__ul {
        display: flex;
        list-style-type: none;
        
    }

    &__li:not(:last-child)::after {
        content: '/';
        padding: 0 8px;
        color: #636363;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &__li:last-child .breadcrumbs__link {
        color: $colorSelectText;
        font-weight: 700;
    }

    &__link {
        color: #636363;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    
    }

    
}

//  cart

.cart {

    &__content {
        display: flex;
    }

    &__items {
        display: flex;
        flex-direction: column;
        min-width: 652px;
        margin-top: 96px;
        margin-right: 128px;
        gap: 40px;
    }

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-shadow: (17px 19px 24px rgba(0, 0, 0, 0.13));

    }

    &__info {
        width: 262px;
        margin-left: 31px;
    }

    &__item svg {
        margin-top: 28px;
        height: 18px;
        margin-right: 24px;
    }

    &__title {
        margin-top: 22px;
        margin-bottom: 42px;
        color: #222;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__text {
        margin-bottom: 6px;
        color: #575757;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        & span {
            color: $colorSelectText;
        }
    }

    &__button-box {
        margin-top: 72px;
        margin-bottom: 128px;
        max-height: 50px;
        display: flex;
        justify-content: space-between;
    }

    &__button-link {
        border: 1px solid #A4A4A4;
        padding: 16px 40px;
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

        &:hover {
            background-color: $buttonHoverColor;
            color: #fff;
            transition: all 0.3s;
        }
    }

    &__form{
        display: flex;
        flex-direction: column;
        min-width: 360px;
        margin-top: 96px;

        &-get {
            &__title {
                width: 100%;
                color: #222;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                margin-bottom: 20px;
            }

            & input {
                box-sizing: border-box;
                width: 100%;
                height: 45px;
                margin-bottom: 20px;
                padding: 0 17px;
                color: #222;
                font-size: 13px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                border: 1px solid #A4A4A4;
            }

            &__button {
                width: 101px;
                height: 35px;
                color: #4A4A4A;
                font-size: 11px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                border: 1px solid #A4A4A4;

                &:hover {
                    background-color: $buttonHoverColor;
                    color: #fff;
                    transition: all 0.3s; 
                }
            }
        }

        &-checkout {
            background-color: #F5F3F3;
            height: 214px;
            margin-top: 57px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            
            &__sub {
                margin-top: 39px;
                margin-right: 34px;
                color: #4A4A4A;
                font-size: 11px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            &__grand {
                margin-top: 12px;
                margin-right: 34px;
                margin-bottom: 39px;
                color: #222;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }

            & a {
                background-color: $buttonHoverColor;
                padding: 15px 42px;
                margin-right: 43px;
                color: #FFF;
                font-family: Lato;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }

        }
    }

     
}

//  subscribe

.subscribe {
    
    min-height: 448px;
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../img/Layer\ 41.png);
    background-position: center;
    background-size: cover;

    &__content {
    
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;

        & img {
            border-radius: 50%;
            margin-top: 86.59px;
        }

        &__text {
            color: #222224;
            text-align: center;
            font-size: 20px;
            font-family: Lato;
            text-align: center;
            margin-bottom: 126px;    
        }
    }

    &__rigth {
        min-width: 557px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & h3 {
            color: #222224;
            text-align: center;
            font-size: 24px;
            font-family: Lato;
            font-weight: 700;
            margin-top: 150px;
            margin-bottom: 27px;
        }
    }

    &__box {
        min-width: 382px;

        & form {
            
            width: 100%;
            height: 49px;
            display: flex;
            
            
        }

        & button {
            width: 100px;
            height: 49px;
            background-color: $buttonHoverColor;
            color: #FFF;
            text-align: center;
            font-size: 14px;
            font-family: Lato;
            padding: 0 8px;
            border-radius: 0 20px 20px 0;
        }
    
        & button:hover {
        
            background-color: #E05C6E;
            transition: all 0.3s;
        }
    
        & input {
            width: 282px;
            background-color: #E1E1E1;
            height: 100%;
            padding: 0 0 0 25px;
            border-radius: 20px 0 0 20px;
        }
    }

    

    


}

//  footer

.footer {
    min-height: 79px;
    background-color: $footerColor;
    display: flex;

    &__content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__text {
        color: #FBFBFB;
        font-size: 16px;
        font-family: Lato;
    }

    &__nav {
        display: flex;
    }

    &__nav__link {
        display: flex;
        width: 32px;
        height: 32px;
        background-color: #fff;
        margin-left: 7.29px;
        justify-content: center;
        align-items: center;
    }

    &__nav__link:hover {
        background-color: $buttonHoverColor;
        transition: all 0.3s;
    }
    
    &__nav__link:hover path{
        transition: all 0.3s;
        fill: #fff;
    }
}




@media (min-width: 768px) and (max-width: 1024px) {

    .header {

        &__content {
            margin: 0 32px;
        }
    }

    .breadcrumbs {

        &__content {
            margin: 0 16px;
        }
    }

    .cart {

        &__content {
            display: flex;
            flex-direction: column;
            margin: 0 16px;
        }

        &__form {

            margin-top: 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;

            &-checkout {
                margin-top: 40px;
            }

            &-get__button {
                margin-bottom: 128px;
            }


        }

        &__items {
            width: 100%;
        }

        &__item svg {
            margin-left: 137px;
        }

        &__button-box {
            justify-content: space-evenly;
            margin-bottom: 64px;
        }
    }

    .subscribe {

        &__content{
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 360px;
        }
    
        &__info {
            max-width: 359.449px;
            min-height: 225px;

            &__text {
                margin-top: 48px;
                margin-bottom: 59px;
            }
        }
    
        &__rigth {
            
            margin-bottom: 140px;
            max-width: 557px;
            max-height: 137px;

            & h3 {
                margin-top: 48px;
            }
        }
    
        
    }

    .footer {

        &__text {
            margin-left: 32px;
        }

        &__nav {
            margin-right: 32px;
        }
         
    }

    

}





@media (min-width: 320px) and (max-width: 768px) {

    .container {
        max-width: 768px;
        //max-width: 100wv;
    }

    .header {

        &__content {
            margin: 0 16px;
        }
    
        .menu__nav {
            flex-direction: row-reverse;
    
            &__link {
                display: none;
            }
        }
    }

    .cart {

        &__content {
            display: grid;
            margin: 0 16px;
            grid-template-columns: 1fr;
        }

        &__form {

            margin-top: 0;
           

            &-checkout {
                margin-top: 40px;
            }

            &-get__button {
                margin-bottom: 128px;
            }


        }

        &__items {
            min-width: 358px;
            margin-right: 0;
            margin-top: 39px;
            
        }

        &__item {
            min-width: 358px;
            min-height: 188px;
        }

        &__item img {
            
            min-width: 143px;
        }

        &__title {
            font-size: 16px;
            margin-top: 13px;
            margin-bottom: 25px;
        }

        &__text {
            margin-bottom: 4px;
            font-size: 14px;
    
        }

        &__form-get {
            height: 272px;
        }

        &__button-box {
            justify-content: space-evenly;
            margin-bottom: 64px;
        }

        &__button-link {
            
            font-size: 12px;
            font-weight: 400;
            padding: 9px 18px;
        }
    }

    .breadcrumbs {

        &__content {
            flex-direction: column;
            margin-top: 24px;
            margin-bottom: 46px;


            &__title {
                margin-bottom: 0;
            }
        }
    }



    .subscribe {

        &__content{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        &__info {
            max-width: 359.449px;
            min-height: 225px;

            &__text {
                margin-top: 48px;
                margin-bottom: 59px;
            }
        }
    
        &__rigth {
            
            margin-bottom: 140px;
            max-width: 557px;
            max-height: 137px;

            & h3 {
                margin-top: 48px;
            }
        }
    
        
    }

    .footer {

        min-height: 143px;

        &__content {
            flex-direction: column-reverse;
        }

        &__nav {
            margin-top: 43px;
            margin-bottom: 33px;
        }

        &__text {
            margin-bottom: 24px;
        }

        
    }

}