.content__box {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  justify-content: center;
  gap: 30px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.top {
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  background-color: #222222;
  position: relative;
}
.header__content {
  display: flex;
  min-height: 75px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: flex-end;
}

.logo a:first-child {
  margin-right: 41px;
}

.menu__nav {
  display: flex;
  justify-content: space-between;
  width: 168px;
  align-items: center;
}

#burger {
  position: absolute;
  left: -99999999px;
  visibility: hidden;
}
#burger:checked ~ .menu__nav-1 {
  right: -232px;
}

.menu__nav-1 {
  width: 232px;
  height: 634px;
  background: #FFF;
  box-sizing: border-box;
  position: absolute;
  top: 75px;
  right: 0;
  z-index: 2;
  transition: right 0.3s;
}
.menu__nav-1__title {
  margin-left: 32px;
  margin-top: 32px;
  width: 232px;
  color: #000;
  font-size: 14px;
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.menu__nav-1 ul li {
  list-style: none;
}

.first {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.first__title {
  color: #F16D7F;
  font-size: 14px;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 32px;
  margin-top: 20px;
}

.second {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.second a {
  display: block;
  color: #6F6E6E;
}
.second li {
  display: block;
  font-size: 14px;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 53.5px;
  margin-top: 11px;
}

.menu__nav-1 li a:hover {
  background: #2F718E;
  color: #fff;
}

.breadcrumbs {
  background-color: #F8F3F4;
  height: 148px;
  display: flex;
  align-items: center;
}
.breadcrumbs__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.breadcrumbs__content__title {
  color: #F16D7F;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.breadcrumbs__ul {
  display: flex;
  list-style-type: none;
}
.breadcrumbs__li:not(:last-child)::after {
  content: "/";
  padding: 0 8px;
  color: #636363;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.breadcrumbs__li:last-child .breadcrumbs__link {
  color: #F16D7F;
  font-weight: 700;
}
.breadcrumbs__link {
  color: #636363;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.cart__content {
  display: flex;
}
.cart__items {
  display: flex;
  flex-direction: column;
  min-width: 652px;
  margin-top: 96px;
  margin-right: 128px;
  gap: 40px;
}
.cart__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}
.cart__info {
  width: 262px;
  margin-left: 31px;
}
.cart__item svg {
  margin-top: 28px;
  height: 18px;
  margin-right: 24px;
}
.cart__title {
  margin-top: 22px;
  margin-bottom: 42px;
  color: #222;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__text {
  margin-bottom: 6px;
  color: #575757;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__text span {
  color: #F16D7F;
}
.cart__button-box {
  margin-top: 72px;
  margin-bottom: 128px;
  max-height: 50px;
  display: flex;
  justify-content: space-between;
}
.cart__button-link {
  border: 1px solid #A4A4A4;
  padding: 16px 40px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cart__button-link:hover {
  background-color: #F16D7F;
  color: #fff;
  transition: all 0.3s;
}
.cart__form {
  display: flex;
  flex-direction: column;
  min-width: 360px;
  margin-top: 96px;
}
.cart__form-get__title {
  width: 100%;
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 20px;
}
.cart__form-get input {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  margin-bottom: 20px;
  padding: 0 17px;
  color: #222;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border: 1px solid #A4A4A4;
}
.cart__form-get__button {
  width: 101px;
  height: 35px;
  color: #4A4A4A;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border: 1px solid #A4A4A4;
}
.cart__form-get__button:hover {
  background-color: #F16D7F;
  color: #fff;
  transition: all 0.3s;
}
.cart__form-checkout {
  background-color: #F5F3F3;
  height: 214px;
  margin-top: 57px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cart__form-checkout__sub {
  margin-top: 39px;
  margin-right: 34px;
  color: #4A4A4A;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__form-checkout__grand {
  margin-top: 12px;
  margin-right: 34px;
  margin-bottom: 39px;
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cart__form-checkout a {
  background-color: #F16D7F;
  padding: 15px 42px;
  margin-right: 43px;
  color: #FFF;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.subscribe {
  min-height: 448px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/Layer\ 41.png);
  background-position: center;
  background-size: cover;
}
.subscribe__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.subscribe__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe__info img {
  border-radius: 50%;
  margin-top: 86.59px;
}
.subscribe__info__text {
  color: #222224;
  text-align: center;
  font-size: 20px;
  font-family: Lato;
  text-align: center;
  margin-bottom: 126px;
}
.subscribe__rigth {
  min-width: 557px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subscribe__rigth h3 {
  color: #222224;
  text-align: center;
  font-size: 24px;
  font-family: Lato;
  font-weight: 700;
  margin-top: 150px;
  margin-bottom: 27px;
}
.subscribe__box {
  min-width: 382px;
}
.subscribe__box form {
  width: 100%;
  height: 49px;
  display: flex;
}
.subscribe__box button {
  width: 100px;
  height: 49px;
  background-color: #F16D7F;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-family: Lato;
  padding: 0 8px;
  border-radius: 0 20px 20px 0;
}
.subscribe__box button:hover {
  background-color: #E05C6E;
  transition: all 0.3s;
}
.subscribe__box input {
  width: 282px;
  background-color: #E1E1E1;
  height: 100%;
  padding: 0 0 0 25px;
  border-radius: 20px 0 0 20px;
}

.footer {
  min-height: 79px;
  background-color: #222224;
  display: flex;
}
.footer__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__text {
  color: #FBFBFB;
  font-size: 16px;
  font-family: Lato;
}
.footer__nav {
  display: flex;
}
.footer__nav__link {
  display: flex;
  width: 32px;
  height: 32px;
  background-color: #fff;
  margin-left: 7.29px;
  justify-content: center;
  align-items: center;
}
.footer__nav__link:hover {
  background-color: #F16D7F;
  transition: all 0.3s;
}
.footer__nav__link:hover path {
  transition: all 0.3s;
  fill: #fff;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header__content {
    margin: 0 32px;
  }
  .breadcrumbs__content {
    margin: 0 16px;
  }
  .cart__content {
    display: flex;
    flex-direction: column;
    margin: 0 16px;
  }
  .cart__form {
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .cart__form-checkout {
    margin-top: 40px;
  }
  .cart__form-get__button {
    margin-bottom: 128px;
  }
  .cart__items {
    width: 100%;
  }
  .cart__item svg {
    margin-left: 137px;
  }
  .cart__button-box {
    justify-content: space-evenly;
    margin-bottom: 64px;
  }
  .subscribe__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
  }
  .subscribe__info {
    max-width: 359.449px;
    min-height: 225px;
  }
  .subscribe__info__text {
    margin-top: 48px;
    margin-bottom: 59px;
  }
  .subscribe__rigth {
    margin-bottom: 140px;
    max-width: 557px;
    max-height: 137px;
  }
  .subscribe__rigth h3 {
    margin-top: 48px;
  }
  .footer__text {
    margin-left: 32px;
  }
  .footer__nav {
    margin-right: 32px;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .container {
    max-width: 768px;
  }
  .header__content {
    margin: 0 16px;
  }
  .header .menu__nav {
    flex-direction: row-reverse;
  }
  .header .menu__nav__link {
    display: none;
  }
  .cart__content {
    display: grid;
    margin: 0 16px;
    grid-template-columns: 1fr;
  }
  .cart__form {
    margin-top: 0;
  }
  .cart__form-checkout {
    margin-top: 40px;
  }
  .cart__form-get__button {
    margin-bottom: 128px;
  }
  .cart__items {
    min-width: 358px;
    margin-right: 0;
    margin-top: 39px;
  }
  .cart__item {
    min-width: 358px;
    min-height: 188px;
  }
  .cart__item img {
    min-width: 143px;
  }
  .cart__title {
    font-size: 16px;
    margin-top: 13px;
    margin-bottom: 25px;
  }
  .cart__text {
    margin-bottom: 4px;
    font-size: 14px;
  }
  .cart__form-get {
    height: 272px;
  }
  .cart__button-box {
    justify-content: space-evenly;
    margin-bottom: 64px;
  }
  .cart__button-link {
    font-size: 12px;
    font-weight: 400;
    padding: 9px 18px;
  }
  .breadcrumbs__content {
    flex-direction: column;
    margin-top: 24px;
    margin-bottom: 46px;
  }
  .breadcrumbs__content__title {
    margin-bottom: 0;
  }
  .subscribe__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subscribe__info {
    max-width: 359.449px;
    min-height: 225px;
  }
  .subscribe__info__text {
    margin-top: 48px;
    margin-bottom: 59px;
  }
  .subscribe__rigth {
    margin-bottom: 140px;
    max-width: 557px;
    max-height: 137px;
  }
  .subscribe__rigth h3 {
    margin-top: 48px;
  }
  .footer {
    min-height: 143px;
  }
  .footer__content {
    flex-direction: column-reverse;
  }
  .footer__nav {
    margin-top: 43px;
    margin-bottom: 33px;
  }
  .footer__text {
    margin-bottom: 24px;
  }
}/*# sourceMappingURL=cart_style.css.map */