@import 'vars';
@import 'extends';

@keyframes pulsate-fwd {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.top {
    position: relative;
    overflow: hidden;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

summary {
    display: block;
}
  
    summary::-webkit-details-marker {
    display: none;
}

.container {
    max-width: $widthSite;
    margin: 0 auto;
}

//  header

.header {
    background-color: $headerColor;
    position: relative;
    
    &__content {

        display: flex;
        min-height: 75px;
        align-items: center;
        justify-content: space-between;
        
    }
}





.logo {
    display: flex;
    align-items: baseline;
}

.logo a:first-child {
    margin-right: 41px;
}

.menu__nav {
    display: flex;
    justify-content: space-between;
    width: 168px;
    align-items: center;
}

#burger {
    position: absolute;
    left: -99999999px;
    visibility: hidden;

    &:checked ~ .menu__nav-1 {
        
        right: -$widthBurgerMenu;
    }
}

.menu__nav-1 {
    
    width: $widthBurgerMenu;
    height: 634px;
    background: #FFF;
    box-sizing: border-box;
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 2;
    transition: right .3s;

    &__title {
        margin-left: 32px;
        margin-top: 32px;
        width: 232px;
        color: #000;
        font-size: 14px;
        font-family: Lato;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    & ul li {
        list-style: none;
    }
}

.first {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__title {
        color: #F16D7F;
        font-size: 14px;
        font-family: Lato;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 32px;
        margin-top: 20px;
    }
}

.second {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & a {
        display: block;
        color: #6F6E6E;
    }

    & li {
        display: block;
        font-size: 14px;
        font-family: Lato;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 53.5px;
        margin-top: 11px;
    }
}

.menu__nav-1 li a:hover{
	background: #2F718E;
    color: #fff;
}

//  promo
.promo {
    background: #F1E4E6;

    &__content {
        display: flex;
        align-items: center;
        max-height: 764px;
        width: 100%;
    
    }

    &__content img {
        width: 50%;
        transform: translate(-150px,0);
    }

    &-right__title {
        border-left: 12px solid #F16D7F;
        padding-left: 16px;
        animation: pulsate-fwd 1.1s ease-in-out infinite both;
    
        & h1 {
            Font-style: normal;
            Font-size: 48px;
            font-weight: 900;
            Line-height: 100%;
            Vertical-align: Top;
        }
    
        & h2 {
            Font-style: normal;
            Font-size: 32px;
            font-weight: 700;
            Line-height: 100%;
            Vertical-align: Top;
        }
    
    
    }
}



//   offer
.offer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-top: 60px;
    padding-bottom: 96px;
}

.content__item {
    position: relative;
}

.content__item:hover {
    transform: scale(1.2);
    transition: all 1s ease;
    
}

.content__item__desc {
    position: absolute;
    background-image: url('../img/20.png');
    width:100%; 
    height:100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content__item__desc p {
    color: #fff;
    Font-family: Lato;
    font-weight: 400;
    Font-size: 16px;
    Line-height: 19px;
    Line-height: 100%;
    Vertical-align: Top;
}

.content__item__desc h3 {
    color: #F16D7F;
    Font-family: Lato;
    font-weight: 700;
    Font-size: 24px;
    Line-height: 29px;
    Line-height: 100%;
    Vertical-align: Top;
}

.content__item__big {
    position: relative;
    grid-column: 1/4;
    grid-row: 2/3;
    
}

.content__item__big:hover {
    transform: scale(1.2);
    transition: all 1s ease;
}

.content__item__desc__big {
    position: absolute;
    background-image: url("../img/21.png");
    width:100%; 
    height:100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content__item__desc__big h3 {
    color: #F16D7F;
    font-family: Lato;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    line-height: 100%;
    vertical-align: Top;
}

.content__item__desc__big p {
    color: #fff;
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    line-height: 100%;
    vertical-align: Top;
}

//  products
.product__content__text {
    text-align: center;
}

.product__content__text h2 {
    font-family: Lato;
    font-size: 30px;
    line-height: 36px;
    line-height: 100%;
    vertical-align: Top;
}

.products__content__box {

    padding-top: 60px;
    padding-bottom: 96px;
    @extend .content__box;
   
}

.product__content {

    padding: 24px 16px;
    
}

.product__item {
    position: relative;
    background: #F8F8F8;
}

.card-add__link {
    width: 139px;
    padding: 10px;
    margin-top: 188px;
    margin-left: 111px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 2px solid #fff;
}

.card-add__link:hover{
    box-shadow: 0px 10px 20px 5px rgba(248, 245, 245, 0.5);
    transform: translateY(-5px);
}

.card-add__link:hover path{
    color: #F16D7F;
}

.card-add__link svg {
    margin-right: 11px;
}

.card-add__link p {
    color: #FFF;
    font-size: 14px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product__title {
    font-family: Lato;
    font-size: 13px;
    line-height: 16px;
    line-height: 100%;
    vertical-align: Top;
    margin-bottom: 16px;
    color: $colorText;

}

.product__text {
    margin-bottom: 16px;
    font-family: Lato;
    font-style: Light;
    font-size: 14px;
    line-height: 17px;
    line-height: 100%;
    vertical-align: Top;
    color: $colorText;

}

.product__price {
    color: #F16D7F;
    font-family: Lato;
    font-style: Regular;
    font-size: 16px;
    line-height: 19px;
    line-height: 100%;
    vertical-align: Top;

}

.product__card-add {
    background-image: url(../img/15.png);
    background-size: cover;
    width: 100%;
    height: 420px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    
}

.product__item:hover .product__card-add {
    display: block;
}

.button__box {
    display: flex;
    justify-content: center;
}

.button__link {
    margin-top: 48px;
    margin-bottom: 95.5px;
    color: #FF6A6A;
    border: 1px solid #FF6A6A;
    padding: 15px 39px 14px 39px;
}

.button__link:hover {
    background-color: $buttonHoverColor;
    color: #fff;
    transition: all 0.3s;
}

//  feature

.feature {
    background-color: $featureColor;
    color: #FBFBFB;

    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, 360px) ;
        justify-content: center;
        gap: 30px;
        padding-top: 103px;
        padding-bottom: 106px;

        &__item {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: flex-end;

            & img {
                width: 44.98px;
            }
            
            & h3 {
                margin-top: 28.07px;
                font-size: 19.96px;
            }
            
            & p {
                margin-top: 16px;
                text-align: center;
                font-size: 13.972px;
                font-family: Lato;
                font-weight: 300;
            }
        }
    }
}

//  subscribe

.subscribe {
    min-height: 448px;
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../img/Layer\ 41.png);
    background-position: center;
    background-size: cover;

    &__content {
    
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;

        & img {
            border-radius: 50%;
            margin-top: 86.59px;
        }

        &__text {
            color: #222224;
            text-align: center;
            font-size: 20px;
            font-family: Lato;
            text-align: center;
            margin-bottom: 126px;    
        }
    }

    &__rigth {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;

        & h3 {
            color: #222224;
            text-align: center;
            font-size: 24px;
            font-family: Lato;
            font-weight: 700;
            margin-top: 150px;
        }
    }

    &__button {

        & form {
            max-width: 341px;
            max-height: 46.9px;
            display: flex;
            
        }

        & button {
            width: 100px;
            height: 49px;
            background-color: $buttonHoverColor;
            color: #FFF;
            text-align: center;
            font-size: 14px;
            font-family: Lato;
            padding: 0 8px;
        }
    
        & button:hover {
        
            background-color: #E05C6E;
            transition: all 0.3s;
        }
    
        & input {
            width: 256px;
            height: 100%;
            padding: 0 25px;
        }
    }

    

    


}

//  footer

.footer {
    min-height: 79px;
    background-color: $footerColor;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__text {
        color: #FBFBFB;
        font-size: 16px;
        font-family: Lato;
    }

    &__nav {
        display: flex;
    }

    &__nav__link {
        display: flex;
        width: 31.451px;
        height: 32px;
        background-color: #fff;
        margin-left: 7.29px;
        justify-content: center;
        align-items: center;
    }

    &__nav__link:hover {
        background-color: $buttonHoverColor;
        transition: all 0.3s;
    }
    
    &__nav__link:hover path{
        transition: all 0.3s;
        fill: #fff;
    }
}

//  breadcrumb

.breadcrumbs {
    background-color: #F8F3F4;
    height: 148px;
    display: flex;
    align-items: center;

    &__content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        &__title {
            color: #F16D7F;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        
    }

    &__box {

    }

    &__ul {
        display: flex;
        list-style-type: none;
        
    }

    &__li:not(:last-child)::after {
        content: '/';
        padding: 0 8px;
        color: #636363;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &__li:last-child .breadcrumbs__link {
        color: $colorSelectText;
        font-weight: 700;
    }

    &__link {
        color: #636363;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    
    }

    
}

//  filter

.filter {

    height: 132px;
    padding-top: 39px;
    position: relative;

    &__sort {
        display: flex;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 11px;
    }

    &__details {
        
        box-sizing: border-box;
        padding: 13px 16px 16px;
        width: 360px;
        top: 39px;

        &[open] {
            background: #FFF;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            z-index: 2;
        }

        &[open] .filter__head {
            color: $colorSelectText;
            
        }

        &[open] path {
            fill: $colorSelectText;
        }
    }

    &__head {
        color: $colorText;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &__item {
        margin-top: 16px;
        display: flex;

        &[open] .filter__heading {
            color: $colorSelectText;
        }
    }

    &__heading {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-left: 5px solid $colorSelectText;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
    }

    &__link-box  {
        display: flex;
        flex-direction: column;
        margin-top: 24px;

    }

    &__link {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 11px;
        margin-left: 33px;

        &:hover {
            color: $colorSelectText;
        }
    }
}

//  sort

.sort {
    
    padding-top: 12px;
    margin-left: 30px;
    display: flex;

    &__details {
        position: relative;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-right: 28px;
    }

    &__heading {
        color: #6F6E6E;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;


    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        position: absolute;
        background: #FFF;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 11px 9px;
        left: -9px;
        top: 22px;
        z-index: 5;
    }

    &__check {
        display: flex;
        flex-wrap: wrap;
        gap: 9px;
        align-items: center;

    }
}

//  catalog

.catalog {

    &__content__box {

        @extend .content__box
    }

    
}

.pagination {
    
    display: flex;
    justify-content: center;

    &__content {
        height: 44px;
        width: 284px;
        margin-top: 48px;
        margin-bottom: 96px;
        display: flex;
        justify-content: center;
        align-items: center;

        
        & svg.left {
            margin-right: 17px;
        }

        & svg.right {
            margin-left: 17px;
        }
    
    }

    
}

//  cart

.cart {

    &__content {
        display: flex;
    }

    &__items {
        display: flex;
        flex-direction: column;
        min-width: 652px;
        margin-top: 96px;
        margin-right: 128px;
        gap: 40px;
    }

    &__item {
        display: flex;
        flex-direction: row;
        box-shadow: (17px 19px 24px rgba(0, 0, 0, 0.13));
    }

    &__info {
        width: 262px;
        margin-left: 31px;
    }

    &__item svg {
        margin-top: 28px;
        margin-left: 57px;
    }

    &__title {
        margin-top: 22px;
        margin-bottom: 42px;
        color: #222;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__text {
        margin-bottom: 6px;
        color: #575757;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        & span {
            color: $colorSelectText;
        }
    }

    &__button-box {
        margin-top: 72px;
        margin-bottom: 128px;
        max-height: 50px;
        display: flex;
        justify-content: space-between;
    }

    &__button-link {
        border: 1px solid #A4A4A4;
        padding: 16px 40px;
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

        &:hover {
            background-color: $buttonHoverColor;
            color: #fff;
            transition: all 0.3s;
        }
    }

    &__form{
        display: flex;
        flex-direction: column;
        min-width: 360px;
        margin-top: 96px;

        &-get {
            &__title {
                width: 100%;
                color: #222;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                margin-bottom: 20px;
            }

            & input {
                box-sizing: border-box;
                width: 100%;
                height: 45px;
                margin-bottom: 20px;
                padding: 0 17px;
                color: #222;
                font-size: 13px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }

            &__button {
                width: 101px;
                height: 35px;
                color: #4A4A4A;
                font-size: 11px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;

                &:hover {
                    background-color: $buttonHoverColor;
                    color: #fff;
                    transition: all 0.3s; 
                }
            }
        }

        &-checkout {
            background-color: #F5F3F3;
            height: 214px;
            margin-top: 57px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            
            &__sub {
                margin-top: 39px;
                margin-right: 34px;
                color: #4A4A4A;
                font-size: 11px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            &__grand {
                margin-top: 12px;
                margin-right: 34px;
                margin-bottom: 39px;
                color: #222;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }

            & a {
                background-color: $buttonHoverColor;
                padding: 15px 42px;
                margin-right: 43px;
                color: #FFF;
                font-family: Lato;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }

        }
    }

     
}









